.Rproj.user
.Rhistory
.RData
.Ruserdata
Temp*
Test*
Libraries/bildr_script/.git
Libraries/bildr_script/.Rproj.user
Libraries/bildr_script/test_data
Libraries/bildr_script/settings.R
Libraries/bildr_script/.Rhistory
Libraries/bildr_script/.gitignore
Libraries/farmR_input/*.csv